<div>
    <form action="" enctype="" method="post">
        <table item-width="100%">
            <tr>
                <td>Firts Name</td>
                <td>
                    <input type="text" name="first_name" value="<%=user.first_name%>">
                </td>
                </tr>
                <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" name="last_name" value="<%=user.last_name%>">
                </td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>
                    <input type="text" name="email" value="<%=user.email%>">
                </td>
            </tr>
            <!-- <tr>
                <td>Password</td>
                <td>
                    <input type="text" name="password" value="<%=user.name%>">
                </td>
            </tr> -->
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="hidden" name="id" value="<%=user.id%>" >
                    <input type="submit" name="Save" value="Save">
                </td>
            </tr>
        </table>
    </form>
</div>